@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$dark-70 : #585858;

body {
    font-family: 'Open Sans', Arial;
    font-weight: 400;
}

.ant-layout {
    height: 100vh;
}

.ant-btn {
    margin-right: 8px;
}

.ant-form-item {
    margin-bottom: 25px;
}

.ant-form-item-explain {
    font-size: 12px;
}

.warning-alert {
    margin-top: 50px;
}

.ant-input-group-addon {
    font-size: 11px;
}

.bg-global {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
  }

.event-information {
font-size: 27px;
margin-top: 100px;
padding: 5px;
color: #222222;
text-align: left;

    div {
    margin-top: 20px;
        i {
            color: #ffa096;
        }
        span {
            font-size: 18px;
            display: block;
            margin-left: 50px;
            color: $dark-70;
            text-shadow: 1px 1px 3px #FFFFFF;
        }
    }
}

.login-wrapper {
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    background-color: #FFFFFF;
    position: relative;
    padding: 10px;
    text-align: left;
    max-width: 400px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 100px;
    -webkit-overflow-scrolling: touch;
}

.ant-form {
    margin-top: 10px;

    .ant-input {
        font-size: 15px;
        color: $dark-70;
    }
}

.ant-select-selection-item {
    font-size: 15px;
    color: $dark-70;
}

.ant-form-item {
    position: relative;
}

.ant-form-item-label {
    position: absolute;
    top: -12px;
    z-index: 100;
    left: 15px;
    background-color: white;
    padding: 0px 4px !important;

    label {
        font-size: 12px;
        height: auto !important;
        color: #959494 !important;
    }
}

.ant-checkbox-wrapper {
    white-space: nowrap;

    .ant-checkbox {
        vertical-align: top;
        top: 0.20em;
    }

    span:nth-child(2) {
        display: inline-block;
        white-space: pre-line;
        font-size: 12px;
    }
}

.ant-checkbox-checked::after {
    width: 0;
    height: 0;
}

.ant-picker-input > input {
    font-size: 14px !important;
}

.ant-input[disabled] {
    background-color: #FFFFFF;
}

.ant-divider-plain.ant-divider-with-text {
    color: rgba(140, 140, 140, 0.85);
    font-size: 13px;
}

.upload-card-title {
    position: absolute;
    top: -12px;
    left: 4px;
    background-color: #FFFFFF;
    color: #777777;
    font-size: 13px;
    font-weight: 500;
}

.upload-input {
    margin-bottom: 0px;
}

.icon-inline {
    display: inline !important;
    color: #ffa096 !important;
    font-size: 26px !important;
    margin-left: 0px !important;
}

.slugURL {
    font-size: 11px;
    color: #575757;
    margin-bottom: 15px;
}

.draggable-wrapper {
    list-style: none;
    padding-left: 5px;
    user-select: none;

    li {
        position: relative;
        user-select: none;
    }
}

.draggable-icon {
    position: absolute;
    right: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    cursor: row-resize;
    user-select: none;
}

.draggable-checkbox {
    position: absolute;
    user-select: none;
    right: 30px;
    transform: translate(-50%, -50%);
    top: 50%; 
}

.company-logo {
font-size: 16px !important;
margin-bottom: 50px;
max-width: 300px;
max-height: 100px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}